body{
    header{
        nav{
            background-color: #ff0000;
            div{
                .navbar-brand{
                    margin: 0%;
                    padding: 0%; 
                    width: 10%;
                    img{
                        width: 40%;
                    }
                }
            }
        }
    }
    
    #title-enroll{
        padding-top: 12%;
        padding-bottom: 12%;
        background-image: url(mainBackground.png);
        background-position: center;
        .jumbotrol{
            .container-fluid{
                color: #F2BE7E;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: black;
                h1{
                    text-transform: uppercase;
                    font-family: 'MedievalSharp';
                    text-align: center;
                    font-size: 400%
                }
            }
        }
    }

    .container{
        .row{
            .col-md-8{
                h4{
                    text-align: center;
                }
            }
            .col-md-4{
                h4{
                    text-align: center;
                }
                dl{
                    text-align: center;
                }
            }
        }
    }

    #footer{
        border-top: 2px solid rgba(245, 245, 195, 0.66);
        margin: 0.5%;
        padding: 0.5%;
        div{
            p{
                text-align: center;
                text-decoration: solid;
                font-size: large;
            }
        }
    }
}